@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }
@-webkit-viewport { width: device-width; scale:1; }
@viewport { width: device-width; scale:1; }

html {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%
}

*, *:before, *after {
	box-sizing: inhereit;
}

body {
	background:url(../images/backgrounds/wood40.png) fixed;
	background-repeat:repeat;
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
	background-size: 75% 50%;
}

.flex {
	display: block;
	width: 100%;
}

.section-dark{
	padding:0;
	margin:0;
	background-color:rgba(0,0,0,0.3);
}

.logo{
	width: 150px;
	float: left;
}

a{ 
	color: #ffffff;
	text-decoration: none;
	}

a:hover { 
	color: #CFB454;
}

ul{
	list-style:none;
}

.masthead {
	top:0;
	text-align: center;
	position:fixed;
	z-index:1000;
	width:100%;
}

.nav-top{
	margin:0;
	padding:0;
	list-style-type: none;
	display: none;
}

.long{
	width: 100%;
}
	
.image{
	right: 0;
	position: absolute;
	width: 170%;
}

.image{
	right: 0;
	position: absolute;
	width: 170%;
}

.text{
	position: relative;
	bottom: 1em;
	text-align: right;
	padding-right: 2em;
}

.header-bottom{
	color:rgba(0,0,0,0.2);
	text-transform:uppercase;
	bottom:0;
	text-align:center;

}

.container{
	margin:0 auto; 
	width: 85%;
	padding-top: 4rem;
	padding-bottom:4rem;
	position:relative;
	overflow:auto;
}

.piece { 
	width: 100%;
	float: left;
	padding: .3%;
	margin: 0 auto;
	-webkkit-transition: all .9s ease-in-out;
	-webkkit-transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
}
	
main{
	margin-top:6em;
	padding-top:25%;
	padding-bottom: 5%;
	width: 100%;
	background-image:url(../images/graphics/nav-back.svg);
	background-repeat:no-repeat;
}

.work {
	margin-top: 2em;
	margin-left:0;
	margin-right:0;
	width: 100%;
	background-color: rgba(111,162,166,0.4);
	padding-bottom: 7em;
}

.about{
	margin-top:-1em;
	width: 100%;
	background-color: rgba(203,183,16,0.7); 
	padding-bottom: 3em;
}

.contact {
	width: 100%
}

.footer {
	width: 100%;
	text-align: center;
	bottom: 0;
	margin-top: 1rem;
}	

.work-details{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.4);
	z-index:2000;
}

.work-details[data-state="open"]{
	display:block;
}

<!---------------------------------------TOGGLE NAV------------------>

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	top: 0.25em;
	overflow: hidden;
	position: absolute;
	right: 10px;
	height: 40px;
	width: 46px;
	background: #454545 url('../images/graphics/nav-icon.svg') no-repeat center center;
	background-size: 30px;
	text-indent: 100%;
	white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #56666A;
}
.nav-btn[data-state="active"] {
	background-color: #FFFFFF;
}

.nav-toggle {
	display: none;
}

.nav-toggle[data-state="expanded"]{display: block;}

.close{
	width: 50px;
	padding: 0;
	margin:0;
}

.dropdown{
	display: block;
	width: 100%;	
}

p{
	font-size: 0.7em;
	padding-left:20%;
	padding-right:20%;
	padding-top: 5%;
}

.nav li{
	display: inline-block;
	border-bottom: 1px solid #fff;
}

h3, .tera {
	font-size: 0.7em;
 	line-height: 1.6875;
}

@media only screen and (min-width: 25em) {
	
	.piece:hover{
	background-size:contain;
	opacity: .5;
	-webkkit-transition: all .9s ease-in-out;
	-webkkit-transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	 cursor:crosshair;
}

	.logo{
		width: 200px;
	}
	
	.unit-push-s-1-2 {
		margin-top: -14%; 
		padding-left:25.1%
	}
	
	.unit-s-1-2-top {
		margin-top: -14%; 
	}
	
	p, li{
		font-size: 1em;
		
	}

	<!---------------------------------------TOGGLE NAV------------------>

	.togglenav {
		text-decoration: none;
		width: 100%;
	}
	
		h3, .tera {
		font-size: 1.3em;
	}


	
@media only screen and (min-width: 38em) {

	.nav li{
		border:hidden;
	}
	
	.image{
	width: 100%;
	}
	
	h3, .tera {
		font-size: 1.6em;
	}

	
	.masthead {
		text-align: left;
	}

	.nav-top{
		text-align:right;
	}
	
	.footer { 
		text-align: left;
	}

	.nav-footer{ 
		text-align: right;
	}
	
	.unit-push-s-1-2 {
	margin-top: 0em;
	padding-left:.3%;

	}
	
	.nav-top{
		display: block;
	}
	
	.unit-s-1-2-top {
	margin-top: 0; 
	}
	
	.unit-push-m-1-3 {
	margin-top:-9.5%;
	padding-left:16.6%;
	}
	
	.unit-push-m-1-3-right {
	margin-top:-9.5%;

	}
	
	.unit-m-1-3-top {
	margin-top: -9.5%; 
	}
	
<!---------------------------------------TOGGLE NAV------------------>
	.nav li {
	display: inline-block;
	}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		display: none;
	}
	
	.nav-toggle {
		display: none;
		
	}
}

@media only screen and (min-width: 60em) {

	.unit-push-m-1-3 {
	margin-top:0%;
	padding-left:.3%;
	}
	
	.unit-push-m-1-3-right {
	margin-top:0;
	padding-left:.3%;
	}
	
	.unit-m-1-3-top {
	margin-top: 0; 
	}
	
	.footer{
		float: bottom;
	}
	

	
	
	
}
