@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }
@-webkit-viewport { width: device-width; scale:1; }
@viewport { width: device-width; scale:1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%
}

*, *:before, *after {
	box-sizing: inhereit;
}

body {
	margin: 0;
	padding: 0;
}

.flex {
	display: block;
	width: 100%;
}

.section-dark{
	background-color: #8F8F8F;
}

a { 
	color: #009CA6;
}

.masthead {
	text-align: center;
}

.nav{
	margin:0;
	padding:0;
	list-style-type: none;
}

. nav a{
	display: block;
	text-decoration: none;
}

.footer {
	text-align: center;
}	

@media only screen and (min-width: 25em) {
	.nav li{
		display: inline-block
	}

}

@media only screen and (min-width: 38em) {
	.masthead {
		text-align: left;
	}

	.footer { 
		text-align: left;
	}
	
	.nav-footer{ 
		text-align: right;
	}
}

@media only screen and (min-width: 60em) {

}
